
<div class="container-fluid " >
  <div class="row big-banners-row"  >
    <div class="col-md-5 col-5 big-banners-1 overlay">
      <h4>Don't Miss Out!</h4>
      <h2>Double the Value!</h2>
      <span style="font-weight: 600;">Discover our finest styles</span>
    </div>
    <div class="col-md-5 col-5 big-banners-2 overlay" >
      <h4>Unmissable Selection</h4>
      <h2 >Upgrade Your Style!</h2>
      <span style="font-weight: 600;">Explore Our Top Picks in one place</span>
    </div>
  </div>
</div>

   