<!-- <section class="banner-two-section">
<div class="container-fluid " >
  <div class="row big-banners-row"  >
    <div class="col-md-5 col-5 big-banners-1 overlay">
      <h4>Don't Miss Out!</h4>
      <h2>Double the Value!</h2>
      <span style="font-weight: 600;">Discover our finest styles</span>
    </div>
    <div class="col-md-5 col-5 big-banners-2 overlay" >
      <h4>Unmissable Selection</h4>
      <h2 >Upgrade Your Style!</h2>
      <span style="font-weight: 600;">Explore Our Top Picks in one place</span>
    </div>
  </div>
</div>

   </section> -->





<!--    
   <section class="banner-two-section">
  <div class="container-fluid">
    <div class="row big-banners-row">
      <div class="col-md-5 col-12 big-banners-1 overlay">
        <h4>Don't Miss Out!</h4>
        <h2>Double the Value!</h2>
        <span>Discover our finest styles</span>
      </div>

      <div class="col-md-5 col-12 big-banners-2 overlay">
        <h4>Unmissable Selection</h4>
        <h2>Upgrade Your Style!</h2>
        <span>Explore Our Top Picks in one place</span>
      </div>
    </div>
  </div>
</section> -->

<!-- 
<section class="banner-two-section">
  <div class="banner-wrapper">
    <div class="big-banners-row">
      <div class="big-banners-1 overlay">
        <h4>Don't Miss Out!</h4>
        <h2>Double the Value!</h2>
        <span>Discover our finest styles</span>
      </div>

      <div class="big-banners-2 overlay">
        <h4>Unmissable Selection</h4>
        <h2>Upgrade Your Style!</h2>
        <span>Explore Our Top Picks in one place</span>
      </div>
    </div>
  </div>
</section> -->


<section class="banner-two-section" role="region" aria-label="Promotional banners">
  <div class="banner-wrapper">
    <div class="big-banners-row">
      <div class="big-banners-1 overlay" aria-hidden="false">
        <h4>Don't Miss Out!</h4>
        <h2>Double the Value!</h2>
        <span>Discover our finest styles</span>
      </div>

      <div class="big-banners-2 overlay" aria-hidden="false">
        <h4>Unmissable Selection</h4>
        <h2>Upgrade Your Style!</h2>
        <span>Explore Our Top Picks in one place</span>
      </div>
    </div>
  </div>
</section>

