<!--   
  <div class="pro-collection" >
        <div class="product-cart" *ngFor="let data of productFirstOrSecindElementOrCategoryElement">
         <img src={{data.image}} alt="product image" />
            <span>{{data.brand}}</span>
            <h4>{{data.name}}</h4>
            <div class="stars" >
               <fa-icon *ngFor="let star of createRange(data.rating)" [icon]="starIcon" ></fa-icon>
            </div>
         <div class="price-and-icon">
            <h4 class="price">{{data.price}}</h4>
            <fa-icon (click)="addProduct(data)" [icon]="addIcon" class="cart-icon"></fa-icon>
          </div>

        </div>
          
    </div> -->


      
  <div class="pro-collection" >
   <div class="product-cart" *ngFor="let data of productFirstOrSecindElementOrCategoryElement">
    <img src={{data.image}} alt="product image" />
       <span>{{data.brand}}</span>
       <h4>{{data.name}}</h4>
       <div class="stars" >
          <fa-icon *ngFor="let star of createRange(data.rating)" [icon]="starIcon" ></fa-icon>
       </div>
    <div class="price-and-icon">
       <h4 class="price">${{data.price}}</h4>
       <fa-icon (click)="addProduct(data)" [icon]="addIcon" class="cart-icon"></fa-icon>
     </div>

   </div>
     
</div>