
<div class="min-h-screen flex items-center justify-center bg-gray-200">
    <div class="bg-white p-8 rounded-lg shadow-lg w-4/5 max-w-md ">
      <h2 class="text-2xl font-bold mb-6 text-gray-700 text-center ">Signup</h2>
      <form [formGroup]="signupForm">
        <!-- Username Field -->
        <div class="mb-4">
          <label for="username" class="block text-sm font-medium text-gray-600 mb-1">Username</label>
          <input id="username" type="text"  name="username" formControlName="username"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent"
            placeholder="Enter your username"
          />

            <!-- Frontend Validation -->
          <div *ngIf="submitted && signupForm.get('username')?.invalid">
            <small class="text-sm text-red-600 mt-2 inline-block font-normal" *ngIf="signupForm.get('username')?.hasError('required')">Username is required</small>
          </div>

            <!-- Backend Validation -->
          <div  *ngIf="serverErrors?.['username']">
            <small class="text-sm text-red-600 mt-2 inline-block font-normal" >{{serverErrors['username']}}</small>
          </div>

        </div>
  
        <!-- Email Field -->
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-600 mb-1">Email</label>
          <input id="email" type="email" name="email" formControlName="email"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent"
            placeholder="Enter your email"
          />

            <!-- Frontend Validation -->
          <div *ngIf="submitted && signupForm.get('email')?.invalid">
            <small *ngIf="signupForm.get('email')?.hasError('required')" class="text-sm text-red-600 mt-2 inline-block font-normal">Email is required</small>
            <small *ngIf="signupForm.get('email')?.hasError('email')" class="text-sm text-red-600 mt-2 inline-block font-normal">Enter a valid email</small>
          </div>

            <!-- Backend Validation -->
          <div  *ngIf="serverErrors?.['email']">
            <small class="text-sm text-red-600 mt-2 inline-block font-normal">{{serverErrors['email']}}</small>
          </div>

        </div>
  
  
        <!-- Password Field -->
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-gray-600 mb-1">Password</label>
          <input  id="password" type="password" name="password" formControlName="password"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent"
            placeholder="Enter your password"
          />
          
          <!-- Frontend Validation -->
          <div *ngIf="submitted && signupForm.get('password')?.invalid">
            <small class="text-sm text-red-600 mt-2 inline-block font-normal" *ngIf="signupForm.get('password')?.hasError('required')">Password is required</small>
            <small class="text-sm text-red-600 mt-2 inline-block font-normal" *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 8 characters</small>
          </div>
  
            <!-- Backend Validation -->
          <div  *ngIf="serverErrors?.['password']">
            <small class="text-sm text-red-600 mt-2 inline-block font-normal" >{{serverErrors['password']}}</small>
          </div>

        </div>
  
        <!-- Login Button -->
        <button
        (click)="submitForm(signupForm)"
          type="submit"
          class="w-full py-2 bg-blue-600 text-white font-bold rounded-lg hover:bg-blue-700 transition-colors duration-300"
        >
          Sign up
        </button>
      </form>
  
  
      <!-- Additional Section -->
      <div  class="mt-4 text-center">
          <p class="text-sm text-gray-600">
            Already have an account?
            <a 
            routerLink="/login"
              class="text-blue-500 hover:text-blue-700 font-semibold transition-colors duration-300 cursor-pointer"
            >
            Log in
            </a>
          </p>
        </div>
    </div>
  </div>
  

