/* .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  main {
    flex: 1; 
  }
  
  app-footer {
    margin-top: auto; 
  } */

  app-banner-two {
  display: block;
  width: 100%;
  margin-top: 50px;
}


  @media (max-width : 700px) {
    h1{
      font-size: 46px;
    }
  }
  @media (max-width : 600px) {
    h1{
      font-size: 40px;
    }
  }
  @media (max-width : 500px) {
    h1{
      font-size: 35px;
    }
  }
  @media (max-width : 400px) {
    h1{
      font-size: 30px;
    }
  p{
    padding:0px 10px;
  }
  }

