.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  }
  main {
    flex: 1; /* This allows the main content to grow and fill the remaining space */
  }
  
  /* Ensure the footer does not stick to the top */
  app-footer {
    margin-top: auto; /* Push the footer to the bottom of the page */
  }