<div class="forgot-password-page">
  <div class="forgot-password-card">
    <h2>Forgot Password</h2>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <form [formGroup]="forgotPasswordForm">
      <div class="form-group">
        <label>Email address</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />

        <!-- Frontend Validation -->
     
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty)">
          <small
            *ngIf="forgotPasswordForm.get('email')?.hasError('required')"
            class="error-text"
          >
            Email is required
          </small>
          <small
            *ngIf="forgotPasswordForm.get('email')?.hasError('email')"
            class="error-text"
          >
            Email format is invalid
          </small>
        </div>

        <!-- Backend Validation -->
        <div *ngIf="serverErrors['email']">
          <small class="error-text">
            {{ serverErrors['email'] }}
          </small>
        </div>
      </div>

      <button type="button" (click)="submit(forgotPasswordForm)"   [disabled]="isResendDisabled">
        Send Reset Link
      </button>

      <p *ngIf="isResendDisabled" class="resend-note">
        You can resend link in {{ countdown }}s
      </p>

    </form>
  </div>
</div>
