


.pro-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 60px;
}
 h1,
 p {
  text-align: center;
} 

.product-cart {
  flex: 0 1 21%;
  box-sizing: border-box; 
  width: 280px;
  border: 1px solid white;
  padding: 13px;
  margin-bottom: 30px;
  border-radius: 25px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.2s, transform 0.3s; 
  background-color: white;
}
.product-cart:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transform: translateY(-10px);
}
.product-cart img {
  width: 100%;
  border-radius: 25px;
  background-color: #eaeded
}
.product-brand{
  color: #969696;
  font-weight: 500;
  line-height: 30px;
}
 .product-name{
  display: block;
  font-size: 18px;
  color: rgb(41, 41, 41);
  font-weight: 700;
}
.product-cart .stars {
  color: #e6ae2c;
  padding: 6px 0;
}
.product-cart .price {
  color: #088178;
  padding: 4px 0;
}
.product-cart .buy-icon {
  color: #088178;
  background-color: #c7e9e75e;
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
} 

.price-and-icon {
  display: flex; /* Aligns items in a row */
  align-items: flex-start;
  justify-content: space-between; /* Adds space between price and icon */
}
.price-and-icon h4.price {
  /* margin: 0;  */
  padding-right: 10px; /* Adds some space between the text and the icon */
}

.product-cart .cart-icon {
  color: #088178;
  background-color: #c7e9e75e;
  border-radius: 20px;
  cursor: pointer;
  /* Remove absolute positioning to prevent overlapping */
}


@media (min-width: 576px) and (max-width: 960px) {
  .product-cart{
    flex: 0 1 30%;
  }
}

@media (min-width: 432px) and (max-width: 575px) {
  .product-cart{
    flex: 0 1 45%;
  }
  .pro-collection {
    margin: 0 45px;
  }
}

@media  (max-width: 431px) {
  .product-cart{
    flex: 0 1 45%;
  }
  .pro-collection {
    margin: 0 20px;
  }
  .product-name{
    font-size: 16px;
    font-weight: 700;
  }

}
@media  (max-width: 305px) {
  .star-icon{
    font-size: 14px;
  }
  .price{
    font-size: 16px;
  }
}



